name: CI-CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  test-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: python -c "import app"

      - name: Deploy to EC2 via Docker
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd /home/ubuntu/python-docker-cicd || git clone https://github.com/abhinandabb/flask-ci-cd.git
            cd flask-ci-cd
            git pull origin main

            docker stop python-app || true
            docker rm python-app || true

            docker build -t ci-cd .
            docker run -d -p 5000:5000 --name python-app ci-cd
